## Classification Exercises

In [1]:
from pydataset import data
import seaborn as sns
import pandas as pd
import numpy as np
import os
from env import host, user, password, get_db_url

1.) In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.
- print the first 3 rows
- print the number of rows and columns (shape)
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these  statistics?

In [2]:
df_iris = data('iris')

In [3]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [4]:
df_iris.shape

(150, 5)

In [5]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [6]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [7]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Would you recommend rescaling the data based on these statistics?<br>
No, there aren't any outliers.

2.) Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.
- assign the first 100 rows to a new dataframe, df_excel_sample
- print the number of rows of your original dataframe
- print the first 5 column names
- print the column names that have a data type of object
- compute the range for each of the numeric variables

In [8]:
df_excel = pd.read_excel('Excel_Exercises.xlsx', sheet_name='Table1_CustDetails')

In [9]:
df_excel_sample = df_excel.head(100)

In [10]:
df_excel.shape[0]

7043

In [11]:
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [12]:
list(df_excel.select_dtypes(['object']).columns)

['customer_id',
 'gender',
 'partner',
 'dependents',
 'payment_type',
 'churn',
 'avg_monthly',
 'match?',
 'type',
 'Contract Description',
 'Phone Description',
 'Internet Description']

In [13]:
df_excel.describe()

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges,tenure,partner_dependents
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7032.000000,7043.000000,7043.000000
mean,0.162147,1.325004,1.222916,0.690473,64.761692,2283.300441,32.373431,1.082209
std,0.368612,0.642730,0.778877,0.833755,30.090047,2266.771362,24.595943,1.226274
min,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,35.500000,401.450000,8.717230,0.000000
50%,0.000000,1.000000,1.000000,0.000000,70.350000,1397.475000,28.673115,1.000000
75%,0.000000,2.000000,2.000000,1.000000,89.850000,3794.737500,55.244460,2.000000
max,1.000000,2.000000,2.000000,2.000000,118.750000,8684.800000,79.341772,3.000000

In [14]:
df_excel.select_dtypes(['int64', 'float64']).max() - df_excel.select_dtypes(['int64', 'float64']).min()

is_senior_citizen        1.000000
phone_service            2.000000
internet_service         2.000000
contract_type            2.000000
monthly_charges        100.500000
total_charges         8666.000000
tenure                  79.341772
partner_dependents       3.000000
dtype: float64

3.) Read the data from this google sheet into a dataframe, df_google

- print the first 3 rows
- print the number of rows and columns
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables
- print the unique values for each of your categorical variables

In [15]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

In [16]:
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [17]:
df_googlesheet = pd.read_csv(csv_export_url)

In [18]:
df_googlesheet.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [19]:
df_googlesheet.shape

(891, 12)

In [20]:
df_googlesheet.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [21]:
df_googlesheet.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [22]:
df_googlesheet.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [23]:
df_googlesheet.select_dtypes('object').nunique()

Name        891
Sex           2
Ticket      681
Cabin       147
Embarked      3
dtype: int64

In [24]:
df_googlesheet.Survived.value_counts(dropna=False)

0    549
1    342
Name: Survived, dtype: int64

In [25]:
df_googlesheet.Pclass.value_counts(dropna=False)

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [26]:
df_googlesheet.Sex.value_counts(dropna=False)

male      577
female    314
Name: Sex, dtype: int64

In [27]:
df_googlesheet.Embarked.value_counts(dropna=False)

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

In [28]:
from acquire import get_connection, new_titanic_data, get_titanic_data, new_iris_data, get_iris_data

In [29]:
df = get_titanic_data()
df.head(2)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0

In [30]:
df = get_titanic_data(cached=True)
df.head(2)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0

In [31]:
df = get_iris_data()
df.head(2)

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa

## Preparation Exercises

Use the function defined in acquire.py to load the iris data.

In [32]:
df.head(2)

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa

Drop the species_id and measurement_id columns.

In [33]:
df = df.drop(columns=['species_id', 'measurement_id'])

Rename the species_name column to just species.

In [35]:
df = df.rename(columns={'species_name': 'species'})

Create dummy variables of the species name.

In [36]:
dummy_df = pd.get_dummies(df[['species']], dummy_na=False, drop_first=[True])

In [37]:
df = pd.concat([df, dummy_df], axis=1)

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [44]:
df = get_iris_data()

In [46]:
from prepare import prep_iris

In [47]:
prep_iris(df)

,sepal_length,sepal_width,petal_length,petal_width,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,0,0
1,4.9,3.0,1.4,0.2,0,0
2,4.7,3.2,1.3,0.2,0,0
3,4.6,3.1,1.5,0.2,0,0
4,5.0,3.6,1.4,0.2,0,0
5,5.4,3.9,1.7,0.4,0,0
6,4.6,3.4,1.4,0.3,0,0
7,5.0,3.4,1.5,0.2,0,0
8,4.4,2.9,1.4,0.2,0,0
9,4.9,3.1,1.5,0.1,0,0
10,5.4,3.7,1.5,0.2,0,0
11,4.8,3.4,1.6,0.2,0,0
12,4.8,3.0,1.4,0.1,0,0
13,4.3,3.0,1.1,0.1,0,0
14,5.8,4.0,1.2,0.2,0,0
15,5.7,4.4,1.5,0.4,0,0
16,5.4,3.9,1.3,0.4,0,0
17,5.1,3.5,1.4,0.3,0,0
18,5.7,3.8,1.7,0.3,0,0
19,5.1,3.8,1.5,0.3,0,0
20,5.4,3.4,1.7,0.2,0,0
21,5.1,3.7,1.5,0.4,0,0
22,4.6,3.6,1.0,0.2,0,0
23,5.1,3.3,1.7,0.5,0,0
24,4.8,3.4,1.9,0.2,0,0
25,5.0,3.0,1.6,0.2,0,0
26,5.0,3.4,1.6,0.4,0,0
27,5.2,3.5,1.5,0.2,0,0
28,5.2,3.4,1.4,0.2,0,0
29,4.7,3.2,1.6,0.2,0,0
30,4.8,3.1,1.6,0.2,0,0
31,5.4,3.4,1.5,0.4,0,0
32,5.2,4.1,1.5,0.1,0,0
33,5.5,4.2,1.4,0.2,0,0
34,4.9,3.1,1.5,0.2,0,0
35,5.0,3.2,1.2,0.2,0,0
36,5.5,3.5,1.3,0.2,0,0
37,4.9,3.6,1.4,0.1,0,0
38,4.4,3.0,1.3,0.2,0,0
39,5.1,3.4,1.5,0.2,0,0
40,5.0,3.5,1.3,0.3,0,0
41,4.5,2.3,1.3,0.3,0,0
42,4.4,3.2,1.3,0.2,0,0
43,5.0,3.5,1.6,0.6,0,0
44,5.1,3.8,1.9,0.4,0,0
45,4.8,3.0,1.4,0.3,0,0
46,5.1,3.8,1.6,0.2,0,0
47,4.6,3.2,1.4,0.2,0,0
48,5.3,3.7,1.5,0.2,0,0
49,5.0,3.3,1.4,0.2,0,0
50,7.0,3.2,4.7,1.4,1,0
51,6.4,3.2,4.5,1.5,1,0
52,6.9,3.1,4.9,1.5,1,0
53,5.5,2.3,4.0,1.3,1,0
54,6.5,2.8,4.6,1.5,1,0
55,5.7,2.8,4.5,1.3,1,0
56,6.3,3.3,4.7,1.6,1,0
57,4.9,2.4,3.3,1.0,1,0
58,6.6,2.9,4.6,1.3,1,0
59,5.2,2.7,3.9,1.4,1,0
60,5.0,2.0,3.5,1.0,1,0
61,5.9,3.0,4.2,1.5,1,0
62,6.0,2.2,4.0,1.0,1,0
63,6.1,2.9,4.7,1.4,1,0
64,5.6,2.9,3.6,1.3,1,0
65,6.7,3.1,4.4,1.4,1,0
66,5.6,3.0,4.5,1.5,1,0
67,5.8,2.7,4.1,1.0,1,0
68,6.2,2.2,4.5,1.5,1,0
69,5.6,2.5,3.9,1.1,1,0
70,5.9,3.2,4.8,1.8,1,0
71,6.1,2.8,4.0,1.3,1,0
72,6.3,2.5,4.9,1.5,1,0
73,6.1,2.8,4.7,1.2,1,0
74,6.4,2.9,4.3,1.3,1,0
75,6.6,3.0,4.4,1.4,1,0
76,6.8,2.8,4.8,1.4,1,0
77,6.7,3.0,5.0,1.7,1,0
78,6.0,2.9,4.5,1.5,1,0
79,5.7,2.6,3.5,1.0,1,0
80,5.5,2.4,3.8,1.1,1,0
81,5.5,2.4,3.7,1.0,1,0
82,5.8,2.7,3.9,1.2,1,0
83,6.0,2.7,5.1,1.6,1,0
84,5.4,3.0,4.5,1.5,1,0
85,6.0,3.4,4.5,1.6,1,0
86,6.7,3.1,4.7,1.5,1,0
87,6.3,2.3,4.4,1.3,1,0
88,5.6,3.0,4.1,1.3,1,0
89,5.5,2.5,4.0,1.3,1,0
90,5.5,2.6,4.4,1.2,1,0
91,6.1,3.0,4.6,1.4,1,0
92,5.8,2.6,4.0,1.2,1,0
93,5.0,2.3,3.3,1.0,1,0
94,5.6,2.7,4.2,1.3,1,0
95,5.7,3.0,4.2,1.2,1,0
96,5.7,2.9,4.2,1.3,1,0
97,6.2,2.9,4.3,1.3,1,0
98,5.1,2.5,3.0,1.1,1,0
99,5.7,2.8,4.1,1.3,1,0
100,6.3,3.3,6.0,2.5,0,1
101,5.8,2.7,5.1,1.9,0,1
102,7.1,3.0,5.9,2.1,0,1
103,6.3,2.9,5.6,1.8,0,1
104,6.5,3.0,5.8,2.2,0,1
105,7.6,3.0,6.6,2.1,0,1
106,4.9,2.5,4.5,1.7,0,1
107,7.3,2.9,6.3,1.8,0,1
108,6.7,2.5,5.8,1.8,0,1
109,7.2,3.6,6.1,2.5,0,1
110,6.5,3.2,5.1,2.0,0,1
111,6.4,2.7,5.3,1.9,0,1
112,6.8,3.0,5.5,2.1,0,1
113,5.7,2.5,5.0,2.0,0,1
114,5.8,2.8,5.1,2.4,0,1
115,6.4,3.2,5.3,2.3,0,1
116,6.5,3.0,5.5,1.8,0,1
117,7.7,3.8,6.7,2.2,0,1
118,7.7,2.6,6.9,2.3,0,1
119,6.0,2.2,5.0,1.5,0,1
120,6.9,3.2,5.7,2.3,0,1
121,5.6,2.8,4.9,2.0,0,1
122,7.7,2.8,6.7,2.0,0,1
123,6.3,2.7,4.9,1.8,0,1
124,6.7,3.3,5.7,2.1,0,1
125,7.2,3.2,6.0,1.8,0,1
126,6.2,2.8,4.8,1.8,0,1
127,6.1,3.0,4.9,1.8,0,1
128,6.4,2.8,5.6,2.1,0,1
129,7.2,3.0,5.8,1.6,0,1
130,7.4,2.8,6.1,1.9,0,1
131,7.9,3.8,6.4,2.0,0,1
132,6.4,2.8,5.6,2.2,0,1
133,6.3,2.8,5.1,1.5,0,1
134,6.1,2.6,5.6,1.4,0,1
135,7.7,3.0,6.1,2.3,0,1
136,6.3,3.4,5.6,2.4,0,1
137,6.4,3.1,5.5,1.8,0,1
138,6.0,3.0,4.8,1.8,0,1
139,6.9,3.1,5.4,2.1,0,1
140,6.7,3.1,5.6,2.4,0,1
141,6.9,3.1,5.1,2.3,0,1
142,5.8,2.7,5.1,1.9,0,1
143,6.8,3.2,5.9,2.3,0,1
144,6.7,3.3,5.7,2.5,0,1
145,6.7,3.0,5.2,2.3,0,1
146,6.3,2.5,5.0,1.9,0,1
147,6.5,3.0,5.2,2.0,0,1
148,6.2,3.4,5.4,2.3,0,1
149,5.9,3.0,5.1,1.8,0,1